<div class="sign_in">
  <form class="form-signin" role="form" action="<%= users_url %>" method="post"> 
    <%= auth_token_input %>
    <h2 class="form-signin-heading">Sign up</h2>

    <label for="inputUsername" id="username" class="sr-only">Username</label>
      <input type="text" id="inputEmail" class="form-control" name="user[username]" value="Guest" required autofocus>

    <label for="inputPassword" class="sr-only" id="password">Password</label>
      <input type="password" id="inputPassword" class="form-control" name="user[password]" value="catlover" required autofocus>

    <label id="login">
      <input type="submit" value="Sign Up">
    </label>
  </form>
</div>

