<h2>Sign Up</h2>
<div class="sign_in">
  <form action="<%= users_url %>" method="post"> 
    <%= auth_token_input %>
    

    <label id="username">
      Username
      <input type="text" name="user[username]" value="">
    </label>

    <label id="password">
      Password
      <input type="password" name="user[password]" value="">
    </label>

    <label id="login">
      <input type="submit" value="Sign Up">
    </label>
  </form>
</div>