<div id="new-map">
	<div class="form">
		<label for='title'>Title</label>
		  <input type="text" name="title" value="<%=ride.get('title')%>"><br>

		<label for='date'>Date</label>
		  <input type="date" name="date" value="<%=ride.get('date')%>"><br>

		<button class="submit">Submit</button>
		<button class="undo">Undo</button>
	</div>
	<div id="map">
		<div id="map-canvas"></div>
		<div id="distance"></div>
		<div id="climb"></div>
		<div id="elevation_chart"></div>
	</div>
</div>