<div id="new-map" class="col-xs-12 container-fluid">
	<div class="form">
		<div class="form_input">
			<label for='title'>Title</label>
		  		<input type="text" name="title" value="<%=ride.get('title')%>">
  		</div>
		<div class="form_input">
			<label for='date'>Date</label>
		  		<input type="date" name="date" value="<%=ride.get('date')%>">
		</div>
		<button class="submit">Submit</button>
		<button class="undo">Undo</button>
		<div class="info">Climb: <div id="climb"></div></div>
		<div class="info">Distance: <div id="distance"></div></div>
	</div>
	<div class="row" id="map">
		<div id="map-canvas"></div>
		<div id="data">
			<div id="elevation_chart"></div>
		</div>
		<div id="directions-hover" class="link_button">Directions</div>
		<div id="directions-panel"></div>
	</div>
</div>