<style type="text/css">
  #map-canvas { height: 600px; width: 600px; margin: 20px; padding: 0;}
</style>

   <style>
      #directions-panel {
        height: 100%;
        float: left;
        width: 390px;
        overflow: auto;
      }

    </style>

<label for='title'>Title</label>
  <input type="text" name="title" value="<%=ride.get('title')%>"><br>

<label for='date'>Date</label>
  <input type="date" name="date" value="<%=ride.get('date')%>"><br>

<button>Submit</button>
<div id="directions-panel"></div>
<div id="map-canvas"></div>




  
