<a href="#/rides/new"> New Ride </a>
<div class=rides>
	<% rides.each(function(ride) { %>
		<div class="ride_info">
			<div><%=ride.get('title')%></div>
			<div><%=ride.get('date')%></div>
		</div>
	<% }); %>
</div>