<a href="#/rides/new"> New Ride </a>
<div class=rides>
	<div class="ride_header">
		<div>Title</div>
		<div>Date</div>
		<div>Distance</div>
		<div>Elevation Gain</div>
	</div>
	<% rides.each(function(ride) { %>
		<div class="ride_info">
			<div><%=ride.get('title')%></div>
			<div><%=ride.get('date')%></div>
			<div><%=ride.get('distance')%></div>
			<div><%=ride.get('elevation')%></div>
		</div>
	<% }); %>
</div>