<div id="new-map">
	<div class="form">
		<div class="info overviewInfo"><div id="overview_date"></div></div>
		<div class="info">Feet of climbing: <div id="totalClimb"></div></div>
		<div class="info" class="rideInfo">Total miles: <div id="totalMiles"></div></div>
	</div>
	<div id="map">
		<div id="map-canvas"></div>
		<div id="data">
			<div id="elevation_chart"></div>
		</div>
	</div>
</div>


