/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.nav-fixed-height {
	height: 60px;
}

body {
	padding: 0;
	margin: 0;
	margin-top: 60px;
	background-image: url("winnerbackground.jpg");
	background-size: cover;
	background-pos: -20%;
	background-attachment: fixed;
	font-family: "Helvetica Neue";
}

.navbar li {
  height: 40px;
 	
  font-family: "Helvetica Neue";
  list-style-type: none;
  
  font-size: 24px;
  margin: 10px 20px 10px 20px;
  text-decoration: none;
} 

.navbar li * {
	float: right;
}

.navbar a {
	
	text-decoration: none;
}

.navbar li .users-search {
	height: 600px;
	width: 150px;
}

.users-search input {
	display: none;
}

.users-search:hover input {
	display: block;	
}

#current-username {
	color: #3498db;
	margin-top: 18px;
}



.users-search .users li{
	position: relative;
	width: 150px;
	height: 50px;
	margin: 15px 0 15px -15px;
	z-index: 2;
	background-color: rgba(200, 200, 200, .9);
	border: 2px solid #3498db;
	color: black;
	text-align: center;
}


