
.ride_info * {
	display: inline-block;
	width: 34%;
	height: 80px;
	text-align: right;
	float: left;
}

.rides_container {
	float: right;
	width: 80%;
	margin: 0% 10%;
	height: 600px;
	overflow: scroll;
}

.rides_container a > div {
	width: 80%;
	border: 2px solid #3498db;
	background-color: rgba(150, 150, 150, .8);
	margin: 1.5% 10%;	
}

.my_rides_container {
	float: left;
	width: 60%;
	margin: 0% 2%;
	height: 600px;
	overflow: scroll;
}

.my_rides_container a > div {
	width: 90%;
	border: 2px solid #3498db;
	background-color: rgba(150, 150, 150, .8);
	margin: 1.5% 10%;	
}

.ride_info {
	height: 100px;
	margin-left: 120px;
	float: left;
	width: 100%;
	style: inline-block;
	font-family: "Helvetica Neue";
	font-size: 18px;
}

.ride_info .date_title {
	height: 100%;
	width: 40%;
}

.ride_info .date_title * {
	width: 100%;
	height: 20px;
	text-align: left;
	style: inline-block;
	float: left;
}

#ride-index-title {
	font-size: 24px;
	color: black;
	font-weight: bold;
}

#ride-index-username {
	font-size: 18px;
	color: black;
	margin-top: 15px;	
}

#ride-index-distance {
	float: left; 
	width: 20%;
	color: black;
	font-size: 18px;
	font-weight: bold;
	margin-top: 30px;
}

#ride-index-elevation {
	color: black;
	font-size: 18px;
	font-weight: bold;
	margin-top: 30px;	
}

#ride-index-date {
	font-size: 18px;
	color: black;
	margin-top: 10px;	
}

#chart_div {
	position: absolute;
	z-index: 1;
}

#rides_data_summary {
	position: absolute;
	right: 50px;
	height: 500px;
	width: 400px;
}

.cumulative_info {	
	height: 120px;
	width: 100%;
	border: 2px solid #3498db;
	margin: 10px;
	background-color: rgba(150, 150, 150, .8);
	float: left;
	style: block;
}

.cumulative_info a #time_range {
	float: left;
	style: inline;
}

.cumulative_info a {	
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	color: black;
}

.cumulative_info a .miles { 
	width: 200px;
	float: right;
	style: block;
}


