// Place all the styles related to the Rides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ride_header {
	width: 85%;
	float: right;
	height: 50px;
	style: block;
	border: 2px solid red;	
	font-family: "Helvetica Neue";
	font-size: 24px;
}

.ride_header * {
	border: 2px dashed red;		
	width: 20%;
	text-align: center;
	float: left;
}

.ride_info {
	float: right;
	width: 85%;
	style: inline-block;
	font-family: "Helvetica Neue";
	font-size: 18px;
}

.ride_info * {
	border: 2px dashed red;		
	width: 20%;
	height: 50px;
	text-align: center;
	float: left;
}

#new-map {
	display: inline-block;
	border: 16px solid blue;
	width: 100%;
}


#show-map {
	display: inline-block;
	border: 16px solid blue;
	width: 100%;
}

#directions-panel {
	width: 50px;
	height: 50px;
}

#new-map .form {
	border: 4px solid red;		
	display: inline-block;
	width: 100%;
	height: 60px;
}

#new-map .form button {
	float: right;	
}

#new-map .form * {
	float: left;
	width: 10%
}

#show-map .ride-details * {
	float: left;
	width: 10%
}

#show-map .ride_details {
	font-family: "Helvetica Neue";
	font-size: 24px;
	border: 4px solid red;		
	display: inline-block;
	width: 100%;
	height: 60px;
}

#map-canvas {
	margin: 0;
	padding: 0;
	border: 2px solid red;	
	display: inline-block;
	float: right;
	height: 600px;
	width: 100%;
}

#map {
	position: relative;
	border: 8px solid black;	
	height: 620px;	
}

#map * {
	display: inline-block;	
}


#data {
	border: 8px solid black;	
	position: absolute; 
	bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	right: 0;
	left: 0;
}

#elevation-chart {
	border: 12px solid red;
}